<h1>AboutPage</h1>
<p>Skilled in development of products as full stack Ruby on Rails with four years of commercial development experience. Enjoy working in a team forming strong relationships, and able to work under pressure whole delivering high quality work</p>
