<main role="main" class="inner cover">
	<h1 class="cover-heading">Welcome</h1>
	<p class="lead">Software developer must learn from yesterday, live for today, hope for tomorrow. The important thing is not to stop coding. Happy hacking!!! </p>
	<p class="lead">
	  <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
	</p>
</main>
